<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.200.120.82;User ID=asma;Password=ipeUnt4r"
      providerName="System.Data.SqlClient" />
    <add name="kerjasamaConnectionString" connectionString="Data Source=10.200.120.82;Initial Catalog=kerjasama;Persist Security Info=True;User ID=asma;Password=ipeUnt4r"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>